/* Добавить стили для шапки, меню, лого */
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 105px;
  padding: 92px 24px 96px;
  font-size: 18px;
  font-weight: 400;
}

.header_menu {
  display: grid;
  justify-content: start;
  align-content: center;
  padding: 44px 0 39px 26.52px;
}

.header__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: circle;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 0.01em;
  line-height: 21px;
  text-wrap: nowrap;
}

.header__links-list-item_no-bullit,
.header__link_active {
  list-style: none;
  text-decoration: none;
  letter-spacing: normal;
}

.header__links-list-item {
  border-bottom: 1px solid #000;
}

.header__link {
  text-decoration: none;
}

.header__logo {
  display: grid;
  align-content: start;
  justify-items: center;
  width: 100%;
  max-height: 100%;
}

.header__logo-image {
  width: 135px;
  height: 105px;
}

.address {
  display: grid;
  grid-template-columns: 240.52px;
  justify-content: start;
  justify-items: start;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  letter-spacing: 0.01em;
  padding: 5px 25px 2px 184px;
}

.header_address {
  display: grid;
  align-content: space-between;
  justify-content: start;
  text-decoration: none;
  text-align: left;
  line-height: 24.3px;
  padding: 0 0 0 1px;
}

.header_address__undeline {
  border-bottom: 1px solid #000;
}
/* Добавить стили для заголовка и ковра*/
.cover {
  position: relative;

  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  z-index: -1;
}
.overlay {
  position: relative;
  background-color: rgb(0 0 0 / 0.5);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cover__title {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  text-transform: uppercase;
}
